[include mainsail.cfg]
[include macros/*.cfg]
[include canbus.cfg]
[include ebb_probe.cfg]
[save_variables]
filename: ~/printer_data/config/variables.cfg
#[include aliases.cfg]
############################

# PRINTER CORE

############################

[printer]
kinematics: cartesian
max_velocity: 450
max_accel: 6750
max_z_velocity: 10
max_z_accel: 100
square_corner_velocity: 5.0

[force_move]
enable_force_move: true

[virtual_sdcard]
path: ~/printer_data/gcodes

[pause_resume]
[exclude_object]
############################

# MCU

############################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_3600590015504D5930393520-if00
restart_method: command

############################

# POWER RELAY

############################

[output_pin qidi_shutdown]
pin: PC12
value: 1
shutdown_value: 1

[gcode_macro SHUTDOWN_PRINTER]
gcode: TURN_OFF_HEATERS\nM84\nSET_PIN PIN=qidi_shutdown VALUE=0\nG4 P500\nSET_PIN PIN=qidi_shutdown VALUE=1



############################

# X AXIS (sensorless)

############################

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 33.8
endstop_pin: tmc2209_stepper_x:virtual_endstop
homing_positive_dir: true
position_endstop: 300
position_max: 300
position_min: 0

#position_endstop: 0
#position_min: 0
#position_max: 300
homing_speed: 30
second_homing_speed: 5
homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.80
hold_current: 0.50
stealthchop_threshold: 0
diag_pin: ^PC0
driver_SGTHRS: 83

############################

# Y AXIS (sensorless)

############################

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 33.8
endstop_pin: tmc2209_stepper_y:virtual_endstop
#position_endstop: 0
#position_min: 0
#position_max: 255
#homing_positive_dir: false
homing_positive_dir: true
position_endstop: 245
position_max: 245
position_min: 0
homing_speed: 40
second_homing_speed: 20
homing_retract_dist: 0

#[tmc2209 stepper_y]
#uart_pin: PC11
#tx_pin: PC10
#uart_address: 2
#run_current: 1.35
#hold_current: 0.8
#stealthchop_threshold: 0
#diag_pin: ^PC1
#driver_SGTHRS: 111
[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 1.2
hold_current: 0.80
stealthchop_threshold: 0
diag_pin: ^PC1
driver_SGTHRS: 96
############################

# Z AXIS (bed moving)

############################

[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
microsteps: 32
rotation_distance: 8
endstop_pin: ^!PC2
position_min: -7
#position_endstop: 302.396
#position_endstop = 302.195
position_max: 303.200

homing_speed: 20
second_homing_speed: 3
homing_retract_dist: 10
homing_positive_dir: true

############################

# BED LEVEL

############################


[bed_screws]
screw1: 30, 30.89
screw1_name: Front Left

screw2: 270, 30.89
screw2_name: Front Right

screw3: 150, 218.89
screw3_name: Rear Center

[bed_mesh]
speed: 80
horizontal_move_z: 20
mesh_min: 10,20
mesh_max: 244,225
probe_count: 5,5

############################

# ELECTRONICS COOLING

############################

[temperature_fan electronics_fan]
pin: PC6
sensor_type: temperature_mcu
min_temp: 0
max_temp: 80
target_temp: 45
control: watermark
min_speed: 0.3
max_speed: 0.65

############################

# BED

############################

[heater_bed]
heater_pin: PC9
sensor_type: Trianglelab-NTC100K-B3950
sensor_pin: PC4
control: pid
pid_Kp: 50.0
pid_Ki: 1.0
pid_Kd: 900.0
min_temp: 0
max_temp: 150

############################

# MISC

############################
[tftbridge]
tft_device: /dev/ttyUSB0
tft_baud: 250000
tft_timeout: 50
klipper_device: /home/kount/printer_data/comms/klippy.serial
klipper_baud: 250000
klipper_timeout: 50
[idle_timeout]
timeout: 600
[input_shaper]
shaper_type_x: 2hump_ei
shaper_freq_x: 60.0
shaper_type_y: ei
shaper_freq_y: 40.4
[output_pin beeper]
pin: PB5
[gcode_macro M300]
gcode:
    {% set freq = params.S|default(1000)|int %}
    {% set dur = params.P|default(200)|int %}
    SET_PIN PIN=beeper VALUE=1
    G4 P{dur}
    SET_PIN PIN=beeper VALUE=0
[gcode_macro END_PRINT]
description: End print, park, home bed, beep
gcode:
    M400                    ; wait for moves to finish
    G92 E0
    G1 E-1.5 F1800          ; small retract to reduce ooze

    G91
    G1 Z10 F1500            ; lift nozzle 10mm
    G90

    ; --- park head front-left (adjust if you like) ---
    G1 X5 Y5 F6000

    ; --- optionally home Y so bed moves to front/back ---
    G28 Y                   ; remove if you don’t want this

    ; turn heaters off
    M104 S0
    M140 S0
    M106 S0

    ; --- beep (works if board has buzzer defined) ---
    M300 S1000 P300
    G4 P200
    M300 S1500 P300

    ; disable steppers after a moment
    G4 P1000
    M84

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [stepper_z]
#*# position_endstop = 302.536
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.014500, 0.024500, 0.006375, -0.033000, -0.023000
#*# 	  0.176375, 0.097625, 0.088250, 0.057000, 0.045125
#*# 	  0.182000, 0.142625, 0.080750, 0.077625, 0.057000
#*# 	  0.133875, 0.111375, 0.059500, 0.088875, 0.065125
#*# 	  0.183250, 0.167000, 0.113875, 0.135125, 0.069500
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 244.0
#*# min_y = 20.0
#*# max_y = 225.0
